CHAIN="Chain id or CROSS"
PROVIDER="Your provider ex: infura"
PROVIDER_KEY="Your provider key"
DISCORD_KEY="Your discord api key"
DISCORD_ID="Your channel id"
TELEGRAM_KEY="Your telegram api key"
NTBA_FIX_319=1
